# Built application files and Maven
AA-time-wx/target
AA-time-web/target

# Compiled class files
*.class

# Log Files
*.log

# About IntelliJ
*.iml
AA-time-wx/AA-time-wx.iml
AA-time-web/AA-time-web.iml
/.idea/
/out/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar



