<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.aatime.dao.ActivityDao">
    <insert id="createActivity" parameterType="activity" useGeneratedKeys="true" keyProperty="eventId">
        <selectKey resultType="int" keyProperty="eventId" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO event (<include refid="key"/>) VALUES (<include refid="value"/>)
    </insert>
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="eventName != null">event_name,</if>
            <if test="eventBrief != null">event_brief,</if>
            <if test="eventTag != null">event_tag,</if>
            <if test="eventPlace != null">event_place,</if>
            <if test="uid != null">uid,</if>
            <if test="username != null">username,</if>
            <if test="avatar != null">avatar,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="statisticTime != null">statistic_time,</if>
            <if test="minTime != null">min_time,</if>
            <if test="members != null">members,</if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="eventName != null">#{eventName},</if>
            <if test="eventBrief != null">#{eventBrief},</if>
            <if test="eventTag != null">#{eventTag},</if>
            <if test="eventPlace != null">#{eventPlace},</if>
            <if test="uid != null">#{uid},</if>
            <if test="username != null">#{username},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="statisticTime != null">#{statisticTime},</if>
            <if test="minTime != null">#{minTime},</if>
            <if test="members != null">#{members},</if>
        </trim>
    </sql>

    <select id="selectActivityByEventId" parameterType="int" resultType="activity">
        SELECT
        event_id ,
        event_name ,
        event_brief,
        event_tag,
        event_place,
        uid,
        username,
        avatar,
        start_time,
        end_time,
        statistic_time,
        min_time,
        members,
        launch_time,
        launch_words,
        launch_members,
        launch_start_time,
        launch_end_time
        FROM event WHERE event_id = #{eventId}
    </select>

    <delete id="delActivity" parameterType="int">
        DELETE FROM event WHERE event_id = #{eventId}
    </delete>

    <update id="reduceMembersByEventId">
        UPDATE event set members = members-1 WHERE event_id=#{eventId}
    </update>

    <update id="addMembersByEventId">
        UPDATE event set members = members+1 WHERE event_id=#{eventId}
    </update>

    <insert id="addQuitReason" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO eventquit(<include refid="quitKey"/>) VALUES (<include refid="quitValue"/>)
    </insert>
    <sql id="quitKey">
        <trim suffixOverrides=",">
            <if test="member.eventId != 0">event_Id,</if>
            <if test="member.uid != 0">uid,</if>
            <if test="member.username != null">username,</if>
            <if test="member.avatar != null">avatar,</if>
            <if test="member.notes != null">notes,</if>
            <if test="reason != null">reason,</if>
        </trim>
    </sql>
    <sql id="quitValue">
        <trim suffixOverrides=",">
            <if test="member.eventId != 0">#{member.eventId},</if>
            <if test="member.uid != 0">#{member.uid},</if>
            <if test="member.username != null">#{member.username},</if>
            <if test="member.avatar != null">#{member.avatar},</if>
            <if test="member.notes != null">#{member.notes},</if>
            <if test="reason != null">#{reason},</if>
        </trim>
    </sql>

    <delete id="delQuitInfoByEventId">
        DELETE FROM eventquit WHERE event_id=#{eventId}
    </delete>

    <update id="updateLaunchInfo">
        UPDATE event SET launch_members = #{launchMembers}, launch_time = #{launchTime}, launch_words = #{launchWords}
            , launch_start_time = #{launchStartTime}, launch_end_time = #{launchEndTime}
        WHERE event_id = #{eventId}
    </update>

    <select id="selectEstablishedActivitiesByUid" resultType="activity">
        SELECT
            event_id ,
            event_name ,
            event_brief,
            event_tag,
            event_place,
            uid,
            username,
            avatar,
            start_time,
            end_time,
            statistic_time,
            min_time,
            members,
            launch_time,
            launch_words,
            launch_members,
            launch_start_time,
            launch_end_time
        FROM event WHERE uid = #{uId}
    </select>
</mapper>