<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.aatime.dao.ActivityDao">
    <insert id="createActivity" parameterType="activity" useGeneratedKeys="true" keyProperty="eventId">
        INSERT INTO event (<include refid="key"/>) VALUES (<include refid="value"/>)
    </insert>
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="eventName != null">event_name,</if>
            <if test="eventBrief != null">event_brief,</if>
            <if test="eventTag != null">event_tag,</if>
            <if test="uid != null">uid,</if>
            <if test="username != null">username,</if>
            <if test="avatar != null">avatar,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="statisticTime != null">statistic_time,</if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="eventName != null">#{eventName},</if>
            <if test="eventBrief != null">#{eventBrief},</if>
            <if test="eventTag != null">#{eventTag},</if>
            <if test="uid != null">#{uid},</if>
            <if test="username != null">#{username},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="statisticTime != null">#{statisticTime},</if>
        </trim>
    </sql>

    <select id="selectLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID();
    </select>

    <insert id="createPlace" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO eventplace(event_id,place) VALUES (#{eventId},#{place})
    </insert>

    <select id="selectJoinEventsIdByUid" parameterType="int" resultType="int">
        SELECT event_id FROM members where uid = #{uid}
    </select>

    <select id="selectActivityByEventId" parameterType="int" resultType="activity">
        SELECT
        e.event_id ,
        e.event_name ,
        e.event_brief,
        e.event_tag,
        e.uid,
        e.username,
        e.avatar,
        e.start_time,
        e.end_time,
        e.statistic_time,
        ep.place "eventPlace"
        FROM event e INNER JOIN eventplace ep ON e.event_id = ep.event_id
        WHERE e.event_id = #{eventId}
    </select>
</mapper>