<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.aatime.dao.TimeDao">
    <insert id="insertTimeList" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO time (<include refid="key"/>) VALUES <include refid="value"/>
    </insert>
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="list[0].eventId != null">event_id,</if>
            <if test="list[0].uid != null">uid,</if>
            <if test="list[0].startTime != null">start_time,</if>
            <if test="list[0].endTime != null">end_time,</if>
        </trim>
    </sql>
    <sql id="value">
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.eventId}, #{item.uid},#{item.startTime},#{item.endTime})
        </foreach>
    </sql>

    <delete id="delMembersTimeByEventId" parameterType="int">
        DELETE FROM time WHERE event_id = #{eventId}
    </delete>

    <select id="selectFreeTimes" resultType="HashMap">
        SELECT start_time "key",end_time "value" FROM time WHERE uid=#{uid} AND event_id=#{eventId}
    </select>

    <delete id="delMembersTimeByUId">
        DELETE FROM time WHERE event_id=#{eventId} AND uid=#{uid}
    </delete>
</mapper>