<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctg.aatime.dao.UserDao">
    <insert id="insertUser" parameterType="user" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user(username,avatar,openid) VALUES (#{username},#{avatar},#{openid})
    </insert>
    <select id="selectUserByOpenId" parameterType="String" resultType="user">
        SELECT * FROM user WHERE openid = #{openid}
    </select>
    <select id="selectUserByUid" resultType="user">
        SELECT id, username,avatar,nickname FROM user WHERE id = #{uid}
    </select>
    <update id="updateUserNickName">
        UPDATE user SET nickname = #{nickname} WHERE id = #{id}
    </update>
</mapper>